doctype html
html
  head
    block page
    meta(name='dcterms.rightsHolder' content='fabianpoels.com')
    meta(name='dcterms.dateCopyrighted' content='2017-2022')
    meta(name='charset' content='UTF-8')
    block styles
      //- link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Oswald|Titillium+Web')
    link(rel='stylesheet', type='text/css', href='css/style.css')
    link(rel='icon', type='image/png', href='assets/favicon.png')    
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-PT08KT5D7L"></script>
    <script>window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'G-PT08KT5D7L');</script>

  body
    block content

block scripts
  script(src='assets/js/jquery-3.5.1.slim.min.js')




