doctype html
html
  head
    title Fabian Poels | Climbing &amp; outdoor photography
    meta(name='dcterms.rightsHolder' content='fabianpoels.com')
    meta(name='dcterms.dateCopyrighted' content='2017')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Oswald|Titillium+Web')
    block styles
      // build:css css/index.min.css
      link(rel='stylesheet', type='text/css', href='css/main.css')
      link(rel='stylesheet', type='text/css', href='css/jquery.fancybox.min.css')
      link(rel='stylesheet', type='text/css', href='css/justifiedGallery.min.css')
      link(rel='stylesheet', type='text/css', href='css/index.css')
      link(rel='stylesheet', type='text/css', href='css/about.css')
      link(rel='stylesheet', type='text/css', href='css/disclaimer.css')
      link(rel='stylesheet', type='text/css', href='css/contact.css')
      // endbuild
    link(rel='icon', type='image/png', href='assets/favicon/favicon.png')
  body
    header
      img(src='assets/svg/logo.svg', width='70')
      h1 FABIAN POELS
      block navigation
    block mainContent
    block footer
    // build:js js/main.min.js
    block scripts
    // endbuild
    script(src='js/googleAnalytics.js')
