h2 {
    font-size: 22px;
    margin-bottom: 5px;
}

article#disclaimer {
    color: #333333;
    font-family: 'Titillium Web', sans-serif;
}

article#disclaimer p {
    text-align: left;
}

article#disclaimer ul {
    margin: 0 0 20px 10px;
    padding: 0 0 0 5px;
}

article#disclaimer ul li {
    list-style-type: cjk-ideographic;
    list-style-position: inside;
    padding: 2px 0;
}
