
article {
    margin: 0 auto;
}
.image-row {
    display: flex;
    align-items: stretch;
    align-content: stretch;
}
.image-row:first-child > .image-flex {
    margin-top: 0;
}
.image-row .image-flex {
    flex-grow: 1;
    margin: 25px;
}
.image-row .image-flex:first-child {
    margin-left: 0;
}
.image-row .image-flex:last-child {
    margin-right: 0;
}

.image-row .image-flex img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-row .image-flex:hover {
    background: rgba(0,0,0,.3);
    z-index: 10;
}

.fancybox-bg {
    background: #000;
}

.fancybox-is-open .fancybox-bg {
    opacity: 1;
}

.fancybox-caption-wrap {
    background: none;
}

.fancybox-caption {
  border: none;
}

article p {
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
}

footer {
    text-align: center;
    font-family: 'titillium Web', sans-serif;
    margin-top: 50px;
    margin-bottom: 20px;
}
