
article {
    margin: 0 auto;
}

article img#intro {
  margin-top: 10px;
  max-width: 100%;
  width: auto;
  height: auto;
}

.fancybox-bg {
    background: #000;
}

.fancybox-is-open .fancybox-bg {
    opacity: 1;
}

.fancybox-caption-wrap {
    background: none;
}

.fancybox-caption {
  border: none;
}

article p {
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
}

article a:focus {
  outline: none;
}
