extends pug/layout.pug
include pug/mixins.pug

block page
  title About
  meta(name='description' content='About Fabian Poels')

block navigation
  +navigation('about')
  
block content
  article#gallery
    +galleryItemWithThumb('images/about/tomapers_fabianpoels.jpg', 'images/about/tomapers_fabianpoels_thumb.jpg', 'Picture by Tom Apers', 824, 540)
    +galleryItemWithThumb('images/about/tomapers_fabianpoels_briancon.jpg', 'images/about/tomapers_fabianpoels_briancon_thumb.jpg', 'Picture by Tom Apers', 810, 540)
  article#about.text
    p.description I'm photographer with a passion for rock climbing, being in the mountains, drinking beer and not taking things too seriously.
    p.description 
      |When the weather is exceptionally bad, you will find me behind a computer screen,
      |
      a(href='https://fabianpoels-resume.herokuapp.com/' target='_blank') developing software
      |
      |for 
      |
      a(href='https://www.vertical-life.info/' target='_blank') Vertical-Life
      |.
      
    h2 Likes
    ul
      li Moving across rock surfaces in various directions
      li Shitting in the woods
      li Digging holes for shitting in the woods
      li Brewing coffee
      li Taking pictures of rocks with people on them
      li Waking up without an alarm clock

block append scripts
  script(src='assets/js/jquery.fancybox.min.js')
  script(src='assets/js/jquery.justifiedGallery.min.js')
  script(src='js/imagegallery.js')
