extends stories.pug
include pug/mixins.pug

block page
  title Fabian Poels Albenga photo story
  meta(name='description' content='Fabian Poels Albenga photo story')

block mainContent
  div#portfolio
    +storiesNavigation('albenga')
    article
      p A two-week climbing trip to 'Val Pennavaire', a valley close to the Italian city of Albenga. With a lot of new crags and routes being developed, it is becoming a very popular destination for both locals and foreigners.
      div#gallery
        +galleryItem('stories/albenga/fabianpoels_20171031_albenga_morningsun_web.jpg', 'Enjoying the morning sun in', 2061, 1200)
        +galleryItem('stories/albenga/fabianpoels_20171031_colletta_web.jpg', 'the beautifully renovated town of Colletta', 2134, 1200)
        +galleryItem('stories/albenga/fabianpoels_20171031_euskal_web.jpg', 'A nice warmup in the Euskal crag', 801, 1200)
        +galleryItem('stories/albenga/fabianpoels_20171031_euskal2_web.jpg', 'Navigating through the maze of chalked-up holds', 819, 1200)
        +galleryItem('stories/albenga/fabianpoels_20171031_doggo_web.jpg', 'A big but very kind doggo chilling while it\'s owner is working a route', 1797, 1200)
        +galleryItem('stories/albenga/fabianpoels_20171101_famiglia_web.jpg', 'Arne, a very friendly swiss climber, eyeing up the crux holds of the route', 2057, 1200)
        +galleryItem('portfolio/climbing/fabianpoels_20171103_taccheticche_bausu_web.jpg', 'Liesbeth on the technical start of Tacche Ticche - Bausu Centrale, Albenga (ITALY)', 2384, 1200)
