extends pug/layout.pug
include pug/mixins.pug

block page
  title Arco
  meta(name='description' content='Sport climbing in Arco (ITALY)')

block navigation
  +navigation('arco')
  
block content
  article#gallery
    +galleryItemWithThumb('images/stories/arco/fabianpoels_arco_01.jpg', 'images/stories/arco/fabianpoels_arco_01_thumb.jpg', 'Lucija Tarkuš on Super Maratona, Arco (ITALY)', 361, 540)
    +galleryItemWithThumb('images/stories/arco/fabianpoels_arco_02.jpg', 'images/stories/arco/fabianpoels_arco_02_thumb.jpg', 'Pietro Vidi on Underground, Arco (ITALY)', 808, 540)
    +galleryItemWithThumb('images/stories/arco/fabianpoels_arco_03.jpg', 'images/stories/arco/fabianpoels_arco_03_thumb.jpg', 'Autumn colours in Il Bersaglio, Ranzo (ITALY)', 809, 540)
    
block append scripts
  script(src='assets/js/jquery.fancybox.min.js')
  script(src='assets/js/jquery.justifiedGallery.min.js')
  script(src='js/imagegallery.js')
