extends pug/layout.pug
include pug/mixins.pug

block page
  title Fabian Poels climbing and outdoor photography
  meta(name='description' content='Barely Autumn rehearsing in their studio and performing at the Ancienne Belgique (Brussels, BELGIUM)')

block navigation
  +navigation('barelyautumn')
  
block content
  article#gallery
    +galleryItemWithThumb('images/stories/barelyautumn/fabianpoels_barelyautumn_rehearsal_01.jpg', 'images/stories/barelyautumn/fabianpoels_barelyautumn_rehearsal_01_thumb.jpg', 'Barely Autumn rehearsing in their studio', 809, 540)
    +galleryItemWithThumb('images/stories/barelyautumn/fabianpoels_barelyautumn_rehearsal_02.jpg', 'images/stories/barelyautumn/fabianpoels_barelyautumn_rehearsal_02_thumb.jpg', 'Barely Autumn rehearsing in their studio', 809, 540)
    +galleryItemWithThumb('images/stories/barelyautumn/fabianpoels_barelyautumn_rehearsal_03.jpg', 'images/stories/barelyautumn/fabianpoels_barelyautumn_rehearsal_03_thumb.jpg', 'Barely Autumn rehearsing in their studio', 809, 540)
    +galleryItemWithThumb('images/stories/barelyautumn/fabianpoels_barelyautumn_rehearsal_04.jpg', 'images/stories/barelyautumn/fabianpoels_barelyautumn_rehearsal_04_thumb.jpg', 'Barely Autumn rehearsing in their studio', 361, 540)
    +galleryItemWithThumb('images/stories/barelyautumn/fabianpoels_barelyautumn_anciennebelgique_01.jpg', 'images/stories/barelyautumn/fabianpoels_barelyautumn_anciennebelgique_01_thumb.jpg', 'Barely Autumn performing in the Ancienne Belgique (Brussels, BELGIUM)', 809, 540)
    +galleryItemWithThumb('images/stories/barelyautumn/fabianpoels_barelyautumn_anciennebelgique_04.jpg', 'images/stories/barelyautumn/fabianpoels_barelyautumn_anciennebelgique_04_thumb.jpg', 'Barely Autumn performing in the Ancienne Belgique (Brussels, BELGIUM)', 809, 540)
    +galleryItemWithThumb('images/stories/barelyautumn/fabianpoels_barelyautumn_anciennebelgique_02.jpg', 'images/stories/barelyautumn/fabianpoels_barelyautumn_anciennebelgique_02_thumb.jpg', 'Barely Autumn performing in the Ancienne Belgique (Brussels, BELGIUM)', 361, 540)
    +galleryItemWithThumb('images/stories/barelyautumn/fabianpoels_barelyautumn_anciennebelgique_03.jpg', 'images/stories/barelyautumn/fabianpoels_barelyautumn_anciennebelgique_03_thumb.jpg', 'Barely Autumn performing in the Ancienne Belgique (Brussels, BELGIUM)', 809, 540)
    +galleryItemWithThumb('images/stories/barelyautumn/fabianpoels_barelyautumn_anciennebelgique_05.jpg', 'images/stories/barelyautumn/fabianpoels_barelyautumn_anciennebelgique_05_thumb.jpg', 'Barely Autumn performing in the Ancienne Belgique (Brussels, BELGIUM)', 361, 540)
    +galleryItemWithThumb('images/stories/barelyautumn/fabianpoels_barelyautumn_anciennebelgique_06.jpg', 'images/stories/barelyautumn/fabianpoels_barelyautumn_anciennebelgique_06_thumb.jpg', 'Barely Autumn performing in the Ancienne Belgique (Brussels, BELGIUM)', 809, 540)

block append scripts
  script(src='assets/js/jquery.fancybox.min.js')
  script(src='assets/js/jquery.justifiedGallery.min.js')
  script(src='js/imagegallery.js')
