extends pug/layout.pug
include pug/mixins.pug

block page
  title Fabian Poels climbing and outdoor photography
  meta(name='description' content='Climbing around Briancon, France. Crags: Arsine, L\'atelier, Le Simoust, Ailefroide')

block navigation
  +navigation('briancon')
  
block content
  article#gallery
    +galleryItemWithThumb('images/stories/briancon/fabianpoels_briancon_01.jpg', 'images/stories/briancon/fabianpoels_briancon_01_thumb.jpg', 'Arsine (FRANCE)', 361, 540)
    +galleryItemWithThumb('images/stories/briancon/fabianpoels_briancon_02.jpg', 'images/stories/briancon/fabianpoels_briancon_02_thumb.jpg', 'Really superb rock at l\'atelier (FRANCE)', 809, 540)
    +galleryItemWithThumb('images/stories/briancon/fabianpoels_briancon_03.jpg', 'images/stories/briancon/fabianpoels_briancon_03_thumb.jpg', 'Le Simoust (FRANCE)', 809, 540)
    +galleryItemWithThumb('images/stories/briancon/fabianpoels_briancon_04.jpg', 'images/stories/briancon/fabianpoels_briancon_04_thumb.jpg', 'Le Simoust (FRANCE)', 361, 540)
    +galleryItemWithThumb('images/stories/briancon/fabianpoels_briancon_05.jpg', 'images/stories/briancon/fabianpoels_briancon_05_thumb.jpg', 'Le Simoust (FRANCE)', 361, 540)
    +galleryItemWithThumb('images/stories/briancon/fabianpoels_briancon_06.jpg', 'images/stories/briancon/fabianpoels_briancon_06_thumb.jpg', 'Le Simoust (FRANCE)', 809, 540)
    +galleryItemWithThumb('images/stories/briancon/fabianpoels_briancon_07.jpg', 'images/stories/briancon/fabianpoels_briancon_07_thumb.jpg', 'Ailefroide (FRANCE)', 809, 540)
    +galleryItemWithThumb('images/stories/briancon/fabianpoels_briancon_08.jpg', 'images/stories/briancon/fabianpoels_briancon_08_thumb.jpg', 'Bouldering in Ailefroide (FRANCE)', 361, 540)


block append scripts
  script(src='assets/js/jquery.fancybox.min.js')
  script(src='assets/js/jquery.justifiedGallery.min.js')
  script(src='js/imagegallery.js')
