extends portfolio.pug
include pug/mixins.pug

block page
  title Fabian Poels climbing portfolio
  meta(name='description' content='Fabian Poels climbing portfolio')

block mainContent
  div#portfolio
    +portfolioNavigation('climbing')
    article
      div#gallery
        +galleryItem('portfolio/climbing/fabianpoels_20171013_manhattan_freyr_web.jpg', 'Local hero Yves cruising through Manhattan Transfer, Freyr (BELGIUM)', 1895, 1200)
        +galleryItem('portfolio/climbing/fabianpoels_20170805_hybride_lanausee_web.jpg', 'Small crimps and bad feet in Hybride, La Nausee (BELGIUM)', 1912, 1200)
        +galleryItem('portfolio/climbing/fabianpoels_20171105_ilcagasotto_gumbi_toirano_web.jpg', 'Slopy sidepulls in the crux of Il Cagasotto, sector Gumbi, Toirano (ITALY)', 1917, 1200)
        +galleryItem('portfolio/climbing/fabianpoels_20171013_bayouninja_freyr_web.jpg', 'Ruben on the semi-rest before the last hard moves of Bayou-Ninja, Freyr (BELGIUM)', 802, 1200)
        +galleryItem('portfolio/climbing/fabianpoels_20171103_taccheticche_bausu_web.jpg', 'Liesbeth on the technical start of Tacche Ticche - Bausu Centrale, Albenga (ITALY)', 2384, 1200)
        +galleryItem('portfolio/climbing/fabianpoels_20170825_tetedegaulent_web.jpg', 'Halfway up an easy route on Tete de Gaulent (FRANCE)', 1798, 1200)
        +galleryItem('portfolio/climbing/fabianpoels_20170817_shortcut_latelier_web.jpg', 'Crimping hard on the suberp rock at l\'atelier, vallon du Fournel (FRANCE)', 801, 1200)
