extends portfolio.pug
include pug/mixins.pug

block page
  title Fabian Poels climbing portfolio
  meta(name='description' content='Fabian Poels climbing portfolio')

block mainContent
  div#portfolio
    +portfolioNavigation('climbing')
    article
      div#gallery
        +galleryItem('portfolio/fabianpoels_20171013_yves_manhattan_freyr_web.jpg', 'Local hero Yves in Manhattan Transfer, Freyr (BELGIUM)', 1895, 1200)
        +galleryItem('photos/fabianpoels_20171105_gumbi-ilcagasotto_web.jpg', 'Il Cagasotto - Gumbi, Toirano (ITALY)', 2396, 1500)
        +galleryItem('photos/fabianpoels_20171013_ruben-bayouninja-freyr_web.jpg', 'Ruben in Bayou-Ninja, Freyr (BELGIUM)', 1088, 1500)
        +galleryItem('photos/fabianpoels_20171103_taccheticche-bausucentrale_web.jpg', 'Liesbeth on the technical start of Tacche Ticche - Bausu Centrale, Albenga (ITALY)', 2980, 1500)
