extends pug/layout.pug
include pug/mixins.pug

block page
  title Fabian Poels climbing and outdoor photography
  meta(name='description' content='Copyright disclaimer')

block navigation
  +navigation('disclaimer')
  
block content
  article#contact.text
    p Should you feel the overwhelming desire to combine letters into words and send them to me, here's your chance:
    a(href='mailto:hello@fabianpoels.com') hello@fabianpoels.com
    p Prefer stalking me from a safe distance:
    a(href='https://www.instagram.com/fabianpoels/' target='_blank') Instagram
