extends pug/layout.pug
include pug/mixins.pug

block navigation
  +navigation('contact')

block mainContent
  article#contact
    <div>Should you feel the overwhelming desire to combine letters into words and send them to me, here's your chance:</div>
    <a class="email" href="mailto:hello@fabianpoels.com">hello@fabianpoels.com</a>

block footer
  +footer('contact')
