extends pug/layout.pug
include pug/mixins.pug

block page
  title Fabian Poels climbing and outdoor photography
  meta(name='description' content='Contact Fabian Poels')

block navigation
  +navigation('contact')
  
block content
  article#disclaimer.text
    h2 Copyright disclaimer
    p All pictures on this website are taken by me and are my exclusive property (sounds possesive, right?). You want to copy, process, distribute, remix, manipulate, print, edit, adapt, commercialize... my precious work? Make sure to get my written consent before you do so.
    h3 Personal use
    p You can use, display or print my photographs for personal use under following conditions:
      ul
        li For personal viewing or display only (so no public or commercial purpose whatsoever)
        li As a student for a school report or presentation, as long as proper citation is given (a link to this website)
      In both cases, the image must be presented in its original form. Give credit where credit is due, and if you ask nicely, I might hook you up with a high quality image.
    h3 Commercial use
    p Contact me and i am sure we can work something out
