extends pug/layout.pug
include pug/mixins.pug

block page
  title Fontainebleau
  meta(name='description' content='Bouldering in the magical forest of Fontainebleau (FRANCE)')

block navigation
  +navigation('font')
  
block content
  article#gallery
    +galleryItemWithThumb('images/stories/font/fabianpoels_fontainebleau_01.jpg', 'images/stories/font/fabianpoels_fontainebleau_01_thumb.jpg', '', 809, 540)
    +galleryItemWithThumb('images/stories/font/fabianpoels_fontainebleau_02.jpg', 'images/stories/font/fabianpoels_fontainebleau_02_thumb.jpg', '', 361, 540)
    +galleryItemWithThumb('images/stories/font/fabianpoels_fontainebleau_03.jpg', 'images/stories/font/fabianpoels_fontainebleau_03_thumb.jpg', '', 809, 540)
    +galleryItemWithThumb('images/stories/font/fabianpoels_fontainebleau_04.jpg', 'images/stories/font/fabianpoels_fontainebleau_04_thumb.jpg', '', 809, 540)
    +galleryItemWithThumb('images/stories/font/fabianpoels_fontainebleau_05.jpg', 'images/stories/font/fabianpoels_fontainebleau_05_thumb.jpg', '', 361, 540)

    
block append scripts
  script(src='assets/js/jquery.fancybox.min.js')
  script(src='assets/js/jquery.justifiedGallery.min.js')
  script(src='js/imagegallery.js')
