extends pug/layout.pug
include pug/mixins.pug

block page
  title Barely Autumn - Germany tour
  meta(name='description' content='Barely Autumn on tour first tour through Germany')

block navigation
  +navigation('germany')
  
block content
  article#gallery
    +galleryItemWithThumb('images/stories/germany/fabianpoels_barelyautumn_germany_tour_01.jpg', 'images/stories/germany/fabianpoels_barelyautumn_germany_tour_01_thumb.jpg', '', 809, 540)
    +galleryItemWithThumb('images/stories/germany/fabianpoels_barelyautumn_germany_tour_02.jpg', 'images/stories/germany/fabianpoels_barelyautumn_germany_tour_02_thumb.jpg', '', 808, 540)
    +galleryItemWithThumb('images/stories/germany/fabianpoels_barelyautumn_germany_tour_03.jpg', 'images/stories/germany/fabianpoels_barelyautumn_germany_tour_03_thumb.jpg', '', 361, 540)
    +galleryItemWithThumb('images/stories/germany/fabianpoels_barelyautumn_germany_tour_04.jpg', 'images/stories/germany/fabianpoels_barelyautumn_germany_tour_04_thumb.jpg', '', 361, 540)
    +galleryItemWithThumb('images/stories/germany/fabianpoels_barelyautumn_germany_tour_05.jpg', 'images/stories/germany/fabianpoels_barelyautumn_germany_tour_05_thumb.jpg', '', 361, 540)
    +galleryItemWithThumb('images/stories/germany/fabianpoels_barelyautumn_germany_tour_06.jpg', 'images/stories/germany/fabianpoels_barelyautumn_germany_tour_06_thumb.jpg', '', 809, 540)
    +galleryItemWithThumb('images/stories/germany/fabianpoels_barelyautumn_germany_tour_07.jpg', 'images/stories/germany/fabianpoels_barelyautumn_germany_tour_07_thumb.jpg', '', 361, 540)
    +galleryItemWithThumb('images/stories/germany/fabianpoels_barelyautumn_germany_tour_08.jpg', 'images/stories/germany/fabianpoels_barelyautumn_germany_tour_08_thumb.jpg', '', 808, 540)
    +galleryItemWithThumb('images/stories/germany/fabianpoels_barelyautumn_germany_tour_09.jpg', 'images/stories/germany/fabianpoels_barelyautumn_germany_tour_09_thumb.jpg', '', 809, 540)
    +galleryItemWithThumb('images/stories/germany/fabianpoels_barelyautumn_germany_tour_10.jpg', 'images/stories/germany/fabianpoels_barelyautumn_germany_tour_10_thumb.jpg', '', 809, 540)
    +galleryItemWithThumb('images/stories/germany/fabianpoels_barelyautumn_germany_tour_11.jpg', 'images/stories/germany/fabianpoels_barelyautumn_germany_tour_11_thumb.jpg', '', 809, 540)
    +galleryItemWithThumb('images/stories/germany/fabianpoels_barelyautumn_germany_tour_12.jpg', 'images/stories/germany/fabianpoels_barelyautumn_germany_tour_12_thumb.jpg', '', 808, 540)
    +galleryItemWithThumb('images/stories/germany/fabianpoels_barelyautumn_germany_tour_13.jpg', 'images/stories/germany/fabianpoels_barelyautumn_germany_tour_13_thumb.jpg', '', 808, 540)
    +galleryItemWithThumb('images/stories/germany/fabianpoels_barelyautumn_germany_tour_14.jpg', 'images/stories/germany/fabianpoels_barelyautumn_germany_tour_14_thumb.jpg', '', 361, 540)
    +galleryItemWithThumb('images/stories/germany/fabianpoels_barelyautumn_germany_tour_15.jpg', 'images/stories/germany/fabianpoels_barelyautumn_germany_tour_15_thumb.jpg', '', 808, 540)
    +galleryItemWithThumb('images/stories/germany/fabianpoels_barelyautumn_germany_tour_16.jpg', 'images/stories/germany/fabianpoels_barelyautumn_germany_tour_16_thumb.jpg', '', 808, 540)
    +galleryItemWithThumb('images/stories/germany/fabianpoels_barelyautumn_germany_tour_17.jpg', 'images/stories/germany/fabianpoels_barelyautumn_germany_tour_17_thumb.jpg', '', 361, 540)

block append scripts
  script(src='assets/js/jquery.fancybox.min.js')
  script(src='assets/js/jquery.justifiedGallery.min.js')
  script(src='js/imagegallery.js')
