extends pug/layout.pug
include pug/mixins.pug

block page
  title Fabian Poels climbing and outdoor photography
  meta(name='description' content='Fabian Poels climbing and outdoor photography')

block append styles
  link(rel='stylesheet', type='text/css', href='css/home.css')

block navigation
  +navigation('')
  
block append scripts
  script(src='js/background.js')
