extends pug/layout.pug

block append styles
  link(rel='stylesheet', type='text/css', href='css/jquery.fancybox.min.css')
  link(rel='stylesheet', type='text/css', href='css/justifiedGallery.min.css')
  link(rel='stylesheet', type='text/css', href='css/index.css')

block navigation
  
