extends pug/layout.pug
include pug/mixins.pug

block navigation
  +navigation('home')

block mainContent
  article
    div#gallery
      +galleryItem('photos/fabianpoels_20170910_hybride-lanausee_web.jpg', 'Hybride - Rocher de la Naus&eacute;e (BELGIUM)', 1001, 1500)
      +galleryItem('photos/fabianpoels_20170825_tetedegaulent_web.jpg', 'Tete de Gaulent (FRANCE)', 2247, 1500)
      +galleryItem('photos/fabianpoels_20170817_shortcut-latelier_web.jpg', 'Short cut - L\'atelier (FRANCE)', 1001, 1500)
      +galleryItem('photos/fabianpoels_20170820_grottaraptor-grottedoreac_web.jpg', 'Grotta raptor - Grotte d\'Or&eacute;ac (FRANCE)', 2247, 1500)
      +galleryItem('photos/fabianpoels_20170805_hybride-lanausee_web.jpg', 'Hybride - Rocher de la Naus&eacute;e (BELGIUM)', 2247, 1500)
      +galleryItem('photos/fabianpoels_20170820_grottedoreac_web.jpg', 'Grotte d\'Or&eacute;ac (FRANCE)', 2284, 1500)
      +galleryItem('photos/fabianpoels_20170604_compromischosedue-rocheauxcorpias_web.jpg', 'Compromis chose due - Roche aux Corpias (FRANCE)', 1001, 1500)
      +galleryItem('photos/fabianpoels_20170603_ledzeppelin-lanausee_web.jpg', 'Led Zeppelin - La Naus&eacute;e (BELGIUM)', 1001, 1500)

block footer
  +footer('home')

block scripts
  script(src='js/jquery-3.2.1.min.js')
  script(src='js/jquery.fancybox.min.js')
  script(src='js/jquery.justifiedGallery.min.js')
  script(src='js/imageGallery.js')
