extends pug/layout.pug
include pug/mixins.pug

block append styles
  link(rel='stylesheet', type='text/css', href='css/jquery.fancybox.min.css')
  link(rel='stylesheet', type='text/css', href='css/justifiedGallery.min.css')
  link(rel='stylesheet', type='text/css', href='css/index.css')

block navigation
  +navigation('home')

block mainContent
  div#gallery
    +galleryItem('photos/fabianpoels_20170910_0121_web.jpg', 'Hybride - Rocher de la Nausee (BELGIUM)', 1001, 1500)
    +galleryItem('photos/fabianpoels_20170825_0055_web.jpg', 'Tete de Gaulent (FRANCE)', 2247, 1500)
    +galleryItem('photos/fabianpoels_20170817_0083_web.jpg', 'Short cut - L\'atelier (FRANCE)', 1001, 1500)
    +galleryItem('photos/fabianpoels_20170820_0058_web.jpg', 'Grotta raptor - Grotte d\'Oréac (FRANCE)', 2247, 1500)
    +galleryItem('photos/fabianpoels_20170805_0073_web.jpg', 'Hybride - Rocher de la Nausee (BELGIUM)', 2247, 1500)
    +galleryItem('photos/fabianpoels_20170820_0196_web.jpg', 'Grotte d\'Oréac (FRANCE)', 2284, 1500)
    +galleryItem('photos/fabianpoels_20170604_0096_web.jpg', 'Compromis chose due - Roche aux Corpias (FRANCE)', 1001, 1500)
    +galleryItem('photos/fabianpoels_20170603_0141_web.jpg', 'Led Zeppelin - La Nausée (BELGIUM)', 1001, 1500)

block footer
  +footer('home')

block scripts
  script(src='js/jquery-3.2.1.min.js')
  script(src='js/jquery.fancybox.min.js')
  script(src='js/jquery.justifiedGallery.min.js')
  script(src='js/imageGallery.js')
