extends pug/layout.pug
include pug/mixins.pug

block page
  title Fabian Poels
  meta(name='description' content='Fabian Poels')

block content
  each val in [0, 1, 2, 3, 4]
    div(class='background' id=`background-${val}`)
  +navigation

  div(class='image-buttons')
    each val in [0, 1, 2, 3, 4]
      div(class='image-button' id=`image-${val}` onclick = `setBackground(${val})`)

block append scripts
  script(src='js/background.js')
