extends pug/layout.pug
include pug/mixins.pug

block page
  title Fabian Poels
  meta(name='description' content='Fabian Poels')

block styles
  link(rel='stylesheet', type='text/css', href='assets/css/fancybox.css')
  link(rel='stylesheet', type='text/css', href='assets/css/justifiedGallery.min.css')

block content
  +navigation()
  div#content
    article#gallery

  footer Copyright 2024 - hello@fabianpoels.com

block append scripts
  script(src='js/images.js')
  script(src='assets/js/fancybox.umd.js')
  script(src='assets/js/jquery.justifiedGallery.min.js')
  script(src='js/imagegallery.js')
