extends pug/layout.pug
include pug/mixins.pug

block page
  title Fabian Poels
  meta(name='description' content='Fabian Poels')

block styles
  link(rel='stylesheet', type='text/css', href='assets/css/fancybox.css')
  link(rel='stylesheet', type='text/css', href='assets/css/justifiedGallery.min.css')

block content
  +navigation()
  div#content
    article#gallery
      +galleryItemWithThumb('images/fabianpoels_climbing_finale_lubna.jpg', 'images/fabianpoels_climbing_finale_lubna_thumb.jpg', 'Lubna, Grotta dell\'Edera, Finale (ITALY)', 360, 540)
      +galleryItemWithThumb('images/fabianpoels_landscape_langkofel.jpg', 'images/fabianpoels_landscape_langkofel_thumb.jpg', 'Langkofel, Dolomites (ITALY)', 809, 540)
      +galleryItemWithThumb('images/fabianpoels_landscape_airplane.jpg', 'images/fabianpoels_landscape_airplane_thumb.jpg', 'Airplane', 360, 540)
      +galleryItemWithThumb('images/fabianpoels_landscape_val_badia.jpg', 'images/fabianpoels_landscape_val_badia_thumb.jpg', 'Val Badia, Dolomites (ITALY)', 809, 540)
      +galleryItemWithThumb('images/fabianpoels_climbing_cikola.jpg', 'images/fabianpoels_climbing_cikola_thumb.jpg', 'Nina Landekar on \'Grenguar\', Čikola (CROATIA)', 809, 540)
      +galleryItemWithThumb('images/fabianpoels_landscape_krka.jpg', 'images/fabianpoels_landscape_krka_thumb.jpg', 'Krka national park (CROATIA)', 809, 540)
      +galleryItemWithThumb('images/fabianpoels_landscape_frost.jpg', 'images/fabianpoels_landscape_frost_thumb.jpg', 'Frost', 361, 540)
      +galleryItemWithThumb('images/fabianpoels_landscape_lagodigarda.jpg', 'images/fabianpoels_landscape_lagodigarda_thumb.jpg', 'Sunset on Lago di Garda (ITALY)', 361, 540)
      +galleryItemWithThumb('images/fabianpoels_landscape_autumntrees.jpg', 'images/fabianpoels_landscape_autumntrees_thumb.jpg', 'Autumn trees', 809, 540)
      +galleryItemWithThumb('images/fabianpoels_portrait_italianguy.jpg', 'images/fabianpoels_portrait_italianguy_thumb.jpg', 'Italian guy', 809, 540)
      +galleryItemWithThumb('images/fabianpoels_climbing_finale_roccadicorno.jpg', 'images/fabianpoels_climbing_finale_roccadicorno_thumb.jpg', 'Rombo di Vento, Rocca di Corno, Finale (ITALY)', 361, 540)
      +galleryItemWithThumb('images/fabianpoels_landscape_lightning.jpg', 'images/fabianpoels_landscape_lightning_thumb.jpg', 'Lightning', 808, 540)
      +galleryItemWithThumb('images/fabianpoels_climbing_lumignano_boomerang.jpg', 'images/fabianpoels_climbing_lumignano_boomerang_thumb.jpg', 'Cody Roth on Boomerang, Lumignano (ITALY)', 361, 540)
      +galleryItemWithThumb('images/fabianpoels_portrait_lithuanian_girl.jpg', 'images/fabianpoels_portrait_lithuanian_girl_thumb.jpg', 'Lithuanian girl', 361, 540)
      +galleryItemWithThumb('images/fabianpoels_landscape_rain.jpg', 'images/fabianpoels_landscape_rain_thumb.jpg', 'Rain', 808, 540)
      +galleryItemWithThumb('images/fabianpoels_climbing_menhir.jpg', 'images/fabianpoels_climbing_menhir_thumb.jpg', 'Thomas Prenn on Menhir, Passo Gardena, Dolomites (ITALY)', 361, 540)
      +galleryItemWithThumb('images/fabianpoels_portrait_italianbride.jpg', 'images/fabianpoels_portrait_italianbride_thumb.jpg', 'Italian bride', 361, 540)
  footer Copyright 2024 - hello@fabianpoels.com

block append scripts
  script(src='assets/js/fancybox.umd.js')
  script(src='assets/js/jquery.justifiedGallery.min.js')
  script(src='js/imagegallery.js')
