doctype html
html
  include head.pug
  body
    head
      title Fabian Poels | Climbing &amp; outdoor photography
      block styles
        // build:css css/index.min.css
        link(rel='stylesheet', type='text/css', href='css/main.css')
        
