extends pug/layout.pug
include pug/mixins.pug

block page
  title Portraits and people portfolio
  meta(name='description' content='Fabian Poels portrait portfolio')

block navigation
  +navigation('people')
  
block content
  article#gallery
    +galleryItemWithThumb('images/portfolio/portrait/fabianpoels_portrait_11.jpg', 'images/portfolio/portrait/fabianpoels_portrait_11_thumb.jpg', '', 361, 540)
    +galleryItemWithThumb('images/portfolio/portrait/fabianpoels_portrait_10.jpg', 'images/portfolio/portrait/fabianpoels_portrait_10_thumb.jpg', '', 361, 540)
    +galleryItemWithThumb('images/portfolio/portrait/fabianpoels_portrait_09.jpg', 'images/portfolio/portrait/fabianpoels_portrait_09_thumb.jpg', '', 808, 540)
    +galleryItemWithThumb('images/portfolio/portrait/fabianpoels_portrait_08.jpg', 'images/portfolio/portrait/fabianpoels_portrait_08_thumb.jpg', 'Cody Roth portrait in Lumignano', 808, 540)
    +galleryItemWithThumb('images/portfolio/portrait/fabianpoels_portrait_07.jpg', 'images/portfolio/portrait/fabianpoels_portrait_07_thumb.jpg', '', 808, 540)
    +galleryItemWithThumb('images/portfolio/portrait/fabianpoels_portrait_06.jpg', 'images/portfolio/portrait/fabianpoels_portrait_06_thumb.jpg', '', 809, 540)
    +galleryItemWithThumb('images/portfolio/portrait/fabianpoels_portrait_01.jpg', 'images/portfolio/portrait/fabianpoels_portrait_01_thumb.jpg', '', 809, 540)
    +galleryItemWithThumb('images/portfolio/portrait/fabianpoels_portrait_02.jpg', 'images/portfolio/portrait/fabianpoels_portrait_02_thumb.jpg', '', 809, 540)
    +galleryItemWithThumb('images/portfolio/portrait/fabianpoels_portrait_03.jpg', 'images/portfolio/portrait/fabianpoels_portrait_03_thumb.jpg', '', 361, 540)
    +galleryItemWithThumb('images/portfolio/portrait/fabianpoels_portrait_04.jpg', 'images/portfolio/portrait/fabianpoels_portrait_04_thumb.jpg', '', 809, 540)
    
block append scripts
  script(src='assets/js/jquery.fancybox.min.js')
  script(src='assets/js/jquery.justifiedGallery.min.js')
  script(src='js/imagegallery.js')
