extends pug/layout.pug
include pug/mixins.pug

block page
  title Fabian Poels portfolio
  meta(name='description' content='Fabian Poels photography portfolio')

block navigation
  +navigation('portfolio')

block mainContent
  div#portfolio
    +portfolioNavigation('')

block footer
  +footer('home')
