extends pug/layout.pug
include pug/mixins.pug

block page
  title Portrait portfolio
  meta(name='description' content='Fabian Poels portrait portfolio')

block navigation
  +navigation('portrait')
  
block content
  article#gallery
    +galleryItemWithThumb('images/portfolio/portrait/fabianpoels_portrait_01.jpg', 'images/portfolio/portrait/fabianpoels_portrait_01_thumb.jpg', '', 809, 540)
    +galleryItemWithThumb('images/portfolio/portrait/fabianpoels_portrait_02.jpg', 'images/portfolio/portrait/fabianpoels_portrait_02_thumb.jpg', '', 809, 540)
    +galleryItemWithThumb('images/portfolio/portrait/fabianpoels_portrait_03.jpg', 'images/portfolio/portrait/fabianpoels_portrait_03_thumb.jpg', '', 361, 540)
    +galleryItemWithThumb('images/portfolio/portrait/fabianpoels_portrait_04.jpg', 'images/portfolio/portrait/fabianpoels_portrait_04_thumb.jpg', '', 809, 540)
    +galleryItemWithThumb('images/portfolio/portrait/fabianpoels_portrait_05.jpg', 'images/portfolio/portrait/fabianpoels_portrait_05_thumb.jpg', '', 361, 540)
    
block append scripts
  script(src='assets/js/jquery.fancybox.min.js')
  script(src='assets/js/jquery.justifiedGallery.min.js')
  script(src='js/imagegallery.js')
