extends portfolio.pug
include pug/mixins.pug

block page
  title Fabian Poels portrait portfolio
  meta(name='description' content='Fabian Poels portrait portfolio')

block mainContent
  div#portfolio
    +portfolioNavigation('portrait')
    article
      div#gallery
        +galleryItem('portfolio/fabianpoels_20171124_daniel_portrait_web.jpg', '', 1373, 1200)
        +galleryItem('portfolio/fabianpoels_20171126_annelien_portrait_web.jpg', '', 1797, 1200)
        +galleryItem('portfolio/fabianpoels_20171126_dries_portrait_web.jpg', '', 1865, 1200)
