extends pug/layout.pug
include pug/mixins.pug

block page
  title Fabian Poels portfolio
  meta(name='description' content='Fabian Poels photography portfolio')

block navigation
  +navigation('portfolio')

block mainContent
  article
    div#portfolio
      details
        summary climbing
        div#climbing
          +portfolioImage('photos/fabianpoels_20171105_gumbi-ilcagasotto_web.jpg', 'Il Cagasotto - Gumbi, Toirano (ITALY)', 'climbing', 2396, 1500)
          +portfolioImage('photos/fabianpoels_20171013_ruben-bayouninja-freyr_web.jpg', 'Ruben in Bayou-Ninja, Freyr (BELGIUM)', 'climbing', 1088, 1500)
          +portfolioImage('photos/fabianpoels_20171103_taccheticche-bausucentrale_web.jpg', 'Liesbeth on the technical start of Tacche Ticche - Bausu Centrale, Albenga (ITALY)', 'climbing', 2980, 1500)
      details
        summary portrait
        div#portrait
          +portfolioImage('portfolio/fabianpoels_20171124_daniel_portrait_web.jpg', '', 'portrait', 1373, 1200)
          +portfolioImage('portfolio/fabianpoels_20171126_annelien_portrait_web.jpg', '', 'portrait', 1797, 1200)
          +portfolioImage('portfolio/fabianpoels_20171126_dries_portrait_web.jpg', '', 'portrait', 1865, 1200)

block footer
  +footer('home')

block scripts
  script(src='js/jquery-3.2.1.min.js')
  script(src='js/jquery.fancybox.min.js')
  script(src='js/jquery.justifiedGallery.min.js')
  script(src='js/portfolioGallery.js')
