extends pug/layout.pug
include pug/mixins.pug

block page
  title Fabian Poels stories
  meta(name='description' content='Fabian Poels photography stories')

block navigation
  +navigation('stories')

block mainContent
  div#portfolio
    +storiesNavigation('')

block footer
  +footer('home')
