extends stories.pug
include pug/mixins.pug

block page
  title Tess Driessens
  meta(name='description' content='Tess Driessens photo story')

block mainContent
  div#portfolio
    +storiesNavigation('tess')
    article
      p
        | A series of pictures I took for Tess Driessens, as she is building her
        | 
        a(href='http://motion-coaching.be/' target='_blank') website
        | . We shot one day in Klimax, one of the biggest climbing gyms in Europe, and one day in Belgium's finest crag: Freyr
      div#gallery
        +galleryItem('stories/tess/fabianpoels_20171006_tess_klimax_web.jpg', 'Tess in the big roof of Klimax II', 1798, 1200)
        +galleryItem('stories/tess/fabianpoels_20171006_me_klimax_web.jpg', 'A semi-selfie while I was hanging from the lip of the roof in Klimax II, waiting for Tess to climb', 1798, 1200)
        +galleryItem('stories/tess/fabianpoels_20171006_crimp_campus_klimax_web.jpg', 'Crimping fingers on the campus board', 1798, 1200)
        +galleryItem('stories/tess/fabianpoels_20171006_tess_training_klimax_web.jpg', 'Tess doing some laps in the Klimax training room', 801, 1200)
        +galleryItem('stories/tess/fabianpoels_20171006_tess_klimax_flagging_web.jpg', 'Demonstrating some climbing techniques', 1827, 1200)
        +galleryItem('stories/tess/fabianpoels_20171013_ruben_bayouninja_freyr_web.jpg', 'Ruben in one of the crux moves of \'Bayou-Ninja\'. He managed to top his project during the shoot', 870, 1200)
        +galleryItem('stories/tess/fabianpoels_20171013_tess_prisestaillees_freyr_web.jpg', 'Tess in the classic line \'prises taillees\' (literally translated: chipped holds)', 829, 1200)
        +galleryItem('stories/tess/fabianpoels_20171013_tess_prisestaillees2_freyr_web.jpg', 'Shaking out after the most overhanging part of the route', 802, 1200)
